body{
    background-color: rgb(3, 3, 3);
}

#header{
     /* margin: 10px 10px;   */
     background-image: url('header-background.png');
     height: 40vh;
     opacity: 0.5;
}

/* #header .title h1{
    opacity: 1;
} */

#form-control{
    margin: 50px 50px; 
}

.div-1, .div-2, .div-3, .div-4, .div-5, .div-6, .div-7, .div-8, .div-9, .div-10, .div-11{
    padding: 10px 20px;
    display: inline-block;
    /* opacity: 1; */
    position: relative;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);

    color: white;
    background-color: rgb(255, 115, 21);
    width: fit-content;
    margin: 50px 2px 1px 1px;
    animation: slideInLeft;
    animation-duration: 4s;
    font-size: 2em;
    border-radius: 0.8em;
}

.div-2, .div-8{
    background-color: slateblue;
    animation: bounce;
    animation-duration: 4s;

}

.div-4, .div-10{
    background-color: red;
    animation: fadeInTopRight;
    animation-duration: 4s;

}

.div-5, .div-7{
    background-color: yellow;
    animation: fadeInUp;
    animation-duration: 4s;
    color: black;
}

.div-9{
    background-color: rgb(0, 225, 255);
    animation: fadeInBottomRight;
    animation-duration: 4s;
}

.div-3{
    background-color: green;
    animation: fadeInTopLeft;
    animation-duration: 4s;
}

.input-search{
    text-align: center;
}

h2, h5, h6{
    color: rgb(255, 255, 255);
}

li{
    color: rgb(241, 202, 74);
}

p{
    color: darkturquoise;
}

.form-control{
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
}

.inner-col {
    height: 60vh;
    border: solid rgb(240, 112, 52) 3px;
    border-radius: 10px;
    overflow-y: scroll;
}

.outer-col {
    padding-right: 5px;
    margin-bottom: 10px;
    border: rgb(215, 243, 114);
    box-sizing: border-box;

}

#gif-section{
    display: inline-block;
} 

#definition {
    display: inline-block;

}

@media(max-width: 991.98px){
    #definition{
        height: auto;
    }
}

.modal{
    position: fixed;
    display: none;  
}

.modal-lg{
    height: 90vh;
    overflow-y: scroll;
}

.modal-content{
    background-color: rgb(36, 5, 85);

}
