body{
    background-color: rgb(3, 3, 3);
}

#header{
     /* margin: 10px 10px;   */
     background-image: url('header-background.png');
     height: 40vh;
     opacity: 0.5;
}

/* #header .title h1{
    opacity: 1;
} */

#form-control{
    margin: 50px 50px; 
}

.title{
    padding: 100px 0; 
}

.title h1{
    opacity: 1;
    color: rgb(18, 20, 14);
    background-color: white;
    width: fit-content;
    margin: auto;
}

.input-search{
    text-align: center;
}

h2, h5, h6{
    color: rgb(255, 255, 255);
}

li{
    color: rgb(241, 202, 74);
}

p{
    color: darkturquoise;
}

.form-control{
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
}

.inner-col {
    height: 60vh;
    border: solid rgb(240, 112, 52) 3px;
    border-radius: 10px;
    overflow-y: scroll;
}

.outer-col {
    padding-right: 5px;
    margin-bottom: 10px;
    border: rgb(215, 243, 114);
    box-sizing: border-box;

}

#gif-section{
    display: inline-block;
    /* overflow-y: scroll; */
} 

#definition {
    display: inline-block;

}

@media(max-width: 991.98px){
    #definition{
        height: auto;
    }
}

.modal{
    position: fixed;
    display: none;
}

.modal-content{
    background-color: rgb(36, 5, 85);
}
